.ContactList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .Contact {
    display: flex;
    align-items: center;
    width: 90%;
  }
  
  .ContactList .Contact {
    margin-bottom: 1.5rem;
  }
  
  .Contact-avatar {
    margin: 0 1rem 0 0;
    width: 30%;
    min-width: 60px;
    max-width: 100px;
    border-radius: 50%;
    background: #00a3e4;
  }
  
  .Contact-name {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: darkgray;
  }
